.note-container{
    overflow: hidden;
    margin-bottom: 10px;
}

input#yith_wcn_purchase_note_text_field{
    width: 100%;
}
textarea#yith_wcn_purchase_note_text_field{
    width: 100%;
}

.yith_price{
    float: right;
    color: #448a85;
    font-size: 1.5rem;
}

.soldout_shop {
    position: absolute;
    z-index: 10;
    display: inline-block;
    padding: 5px;
    top: 0;
    line-height: normal;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
    margin: 0;
    font-size: 13px;
}

.soldout_product {
    position: absolute;
    z-index: 10;
    display: inline-block;
    padding: 5px;
    top: 0;
    line-height: normal;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
    margin: 0;
    font-size: 13px;
}
